@font-face {
  font-family: 'Poppins-Regular';
  src: url('../fonts/Poppins-Regular.ttf');
}

@font-face {
  font-family: 'Poppins-Medium';
  src: url('../fonts/Poppins-Medium.ttf');
}

@font-face {
  font-family: 'Poppins-Bold';
  src: url('../fonts/Poppins-Bold.ttf');
}

@font-face {
  font-family: 'Poppins-Light';
  src: url('../fonts/Poppins-Light.ttf');
}

@font-face {
  font-family: 'lowan';
  src: url('../fonts/lowan.ttf');
}


body {
    margin: 0;
    font-family: 'Poppins-Regular';
}


ul {
    list-style: none;
    margin: 0;
    padding: 0
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}


input:focus,
textarea:focus,
select:focus {
  outline: none;
}



img {
  max-width: 100%;
  vertical-align: middle;
}

a {
  text-decoration: none;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

/** Age gate **/

.mob-btn {
    display: none;
}

.lav_board-mob {
    display: none;
}

.a_gate {
    position: relative;
    height: 100vh;
    background: url(../images/lav-pozadina.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}

.center-all {
    display: flex;
    align-items: center;
    height: 100%;
    width: 57%;
    background: url(../images/blue-background.png);
    background-size: cover;
    position: relative;
    z-index: 5;
    background-repeat: no-repeat;
    background-position: top right;
}

.mobile_bottle {
    display: none;
}

.a_gate .a_gate_wrap {
    width: 75%;
    padding: 0 50px
}

.a_gate .a_logo {
    text-align: center;
    position: relative;
}

.main-logo-mobile {
    display: none;
}

.a_gate .a_logo .lav_board {
    position: relative;
}

.a_gate .a_logo .lav-img {
    max-width: 200px;
    position: relative;
    bottom: -33px;
    z-index: 5;
}

.a_login_form {
    text-align: center;
    margin-top: 3%;
}

.mob_bottle {
    display: none;
}


.a_login_form h1 {
    font-size: 2.60vw;
    text-transform: uppercase;
    color: #fff;
    font-weight: normal;
    margin-bottom: 0;
    font-family: 'Poppins-Regular';
    margin-top: 0;
}

.a_login_form p {
    color: #fff;
    font-size: 1.04vw;
}

.a_gate .bottom_img {
	display: none;
	width: 100%;
}

.lav-img {
    width: 100%;
    height: 32.5vh;
}


.lav_social ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.lav_social ul a {
    color: #fff;
    font-size: 1.56vw;
    margin: 0 7px;
}

.lav_social p,
.lav_social a  {
    margin: 0;
    color: #fff;
    font-family: 'Poppins-Regular';
    font-size: 0.93vw;
    line-height: 1.7;
}

.copy {
    font-size: 0.67vw !important;
}

.a_gate .lav_social li:first-child a {
	margin: 0;
    color: #fff;
    font-family: 'Poppins-Regular';
    font-size: 0.93vw;
    line-height: 1.7;
}

.a_gate .lav_social ul a {
    color: #fff;
    font-size: 1.56vw;
    margin: 0 7px;
}

.a_gate .lav_social li {
    margin: 0 7px;
}

.a_gate .lav_social ul {
    padding-right: 12%;
    position: relative;
    top: 8vh;
}


/* Bottle section */

.bottle_wrap {
    text-align: right;
}

.lav_table {
    width: 70%;
    margin: 0 auto;
    text-align: left;
}

.bottle-c {
    position: absolute;
    bottom: 0;
    z-index: 6;
    left: 50%;
    transform: translateX(-50%);
        width: 30%;
}

.bottle-c img {
    min-width: 123%;
}


/** Custom Select **/

.form_select {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin: auto;
}


.btn {
    width: 100%;
}

.form_select .btn button {
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    font-size: 1.35vw;
    padding: 0.52vw 1.82vw;
    font-family: 'Poppins-Regular';
    font-weight: normal;
    cursor: pointer;
    margin: 40px 0;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.form_select .btn button:hover {
    background: #fff;
    color: #151e4e;
}


.custom-select {
    position: relative;
    display: inline-block;
    width: 100%;
}
    
.custom-select-trigger {
    position: relative;
    display: block;
    color: #222C6A;
    cursor: pointer;
    font-size: 1vw;
    border-right: 1px solid #204692;
    padding: 5px 0;
}

.form_select .custom-select.last .custom-select-trigger {
    border-right: none !important;
}

.custom-select-trigger:after {
    position: absolute;
    display: block;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 10px 0 10px;
    border-color: #0f2349 transparent transparent transparent;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
}
     

.custom-select-wrapper {
    background: #fff;
    flex: 1;
    padding: 0.52vw 0;
}

.custom-options {
    position: absolute;
    display: block;
    top: 100%; left: 0; right: 0;
    min-width: 100%;
    margin: 15px 0;
    border: 1px solid #b5b5b5;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0 2px 1px rgba(0,0,0,.07);
    background: #fff;
    transition: all .4s ease-in-out;    
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(-15px);
    height: 193px;
    overflow: scroll;
    z-index: 15;
}

.custom-select.opened .custom-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translateY(0);
}



.custom-option {
    font-family: 'Poppins-Regular';
    position: relative;
    display: block;
    padding: 0 22px;
    border-bottom: 1px solid #b5b5b5;
    font-size: 0.93vw;
    font-weight: 600;
    color: #222C6A;
    line-height: 47px;
    cursor: pointer;
    transition: all .4s ease-in-out;
}

.custom-option:first-of-type {
    border-radius: 4px 4px 0 0;
}

.custom-option:last-of-type {
    border-bottom: 0;
    border-radius: 0 0 4px 4px;
}

.custom-option:hover,
.custom-option.selection {
    background: #f9f9f9;
}

/* Bottle wrap */

.bottle_wrap {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
}


/* Homepage */

header {
    position: absolute;
    width: 100%;
    z-index: 5;
    padding: 0 50px;
}

.header_wrap {
    display: flex;
}

.main-logo {
    width: 100px;
}

header .nav {
    display: flex;
}

header .nav a {
    font-size: 1.14vw;
    font-family: 'Poppins-Regular';
    color: #233d83;
    padding-left: 50px;
    padding-top: 25px;
    display: inline-block;
}

.home_wrap {
    background: url(../images/window-background.png);
    background-size: cover;
    height: 100vh;
}

.home_wrap .bottle-c {
    position: absolute;
    bottom: 11%;
    z-index: 6;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 45%;
}

.home_wrap .bottle-c img {
    min-width: 83%;
    max-width: 83%;
}

.bottle_wrap-1 {
    display: flex;
    flex-wrap: wrap;
}

.h_wrap_left {
    width: 40%;
    padding: 7.5vh 4vh 0;
}

.h_wrap_left br {
    display: none;
}

.h_wrap_left strong {
    font-family: 'Poppins-Medium';
}

.h_wrap_right {
    width: 60%;
    text-align: right;
}

.mob_window {
    display: none;
}

.h_wrap_right img {
    width: 85%;
}


.h_wrap_left .a_logo {
    position: relative;
    text-align: center;
    width: 35.5vw;
}

.h_wrap_left .a_logo .lav-img {
    max-width: 125px;
    position: relative;
    bottom: -28px;
    z-index: 5;
}

.h_wrap_left p {
    font-size: 1.1vw;
    color: #070f47;
    line-height: 1.5;
    text-align: center;
    width: 90%;
    margin: auto;
    padding-top: 1vh;
}

.h_wrap_left .local {
    background: transparent;
    border: none;
    border-bottom: 2px dashed;
    position: relative;
    bottom: 3px;
}


.bottom_img {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.uputstva .bottom_img  {
    height: 15vw;
}

.bottom_img .lav_social {
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translate(-50%);
}


.bottom_img .lav_social li:first-child a {
    margin: 0;
    color: #fff;
    font-family: 'Poppins-Regular';
    font-size: 0.93vw;
    line-height: 1.7;
}
.bottom_img .lav_social li {
    margin: 0 15px;
}


.enterCode {
    background: transparent;
    border: 1px solid #070f47;
    color: #070f47;
    display: block;
    margin: auto;
    text-align: center;
    width: 40%;
    height: 40px;
    margin-top: 2vh;
}

.enterCode::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #070f47;
  font-family: 'Poppins-Light';
  font-weight: bold;
}
.enterCode::-moz-placeholder { /* Firefox 19+ */
  color: #070f47;
  font-family: 'Poppins-Light';
  font-weight: bold;
}
.enterCode:-ms-input-placeholder { /* IE 10+ */
  color: #070f47;
  font-family: 'Poppins-Light';
  font-weight: bold;
}
.enterCode:-moz-placeholder { /* Firefox 18- */
  color: #070f47;
  font-family: 'Poppins-Light';
  font-weight: bold;
}

.code_enter {
    text-align: center;
}

.code_enter button,
.refist-form button,
.next_btn {
    background: #233d83;
    border: 2px solid #233d83;
    color: #fff;
    font-size: 1.2vw;
    padding: 0.32vw 1.82vw;
    font-family: 'Poppins-Regular';
    font-weight: normal;
    cursor: pointer;
    margin: 40px 0;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    margin-top: 2vh;
}

.next_btn {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    z-index: 55;
}

.code_enter button:hover,
.refist-form button:hover {
    background: transparent;
    color: #233d83;
}


/* Nagrade */


.present_wrap {
    background: url(../images/nagrade-pozadina.png);
    background-size: cover;
    height: 100vh;
    position: relative;
}

.tabla-mala {
    display: none;
}

.lav-img-mob {
    display: none;
}

.present_wrap .lav_social ul {
    margin-bottom: 0;
}

.present_wrap .a_logo {
    position: absolute;
        width: 31vw;
    top: 9%;
    left: 9%;
    z-index: 5;
}



.shaddow_bottle {
    position: absolute;
    width: 17%;
    bottom: 15%;
}

.mob-flasa {
    display: none;
}

.tv {
    position: absolute;
    width: 75vh;
    top: 15%;
    left: 9%;
}

.present_wrap .lav-img {
    height: auto;
}

.tv_mob,
.bicikl_mob,
.stoni_f_mob,
.krigle_mob  {
    display: none;
}

.stoni_f {
    position: absolute;
        width: 62vh;
    right: 30%;
    bottom: 22%;
    z-index: 5;
}

.bicikl {
    position: absolute;
    right: 24%;
        width: 70vh;
    top: -12%;
    visibility: visible !important;
}

.krigle {
    position: absolute;
    right: 3%;
    width: 50vh;
    top: 10%;
}

.majice {
    position: absolute;
    right: 8%;
    bottom: 27%;
    width: 40vh;
}

/* Pravilnik */

.pravilnik {
    background: url(../images/pravilnik-pozadina.png);
    background-size: cover;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.pravilnik .a_logo {
    position: absolute;
    width: 31%;
    top: 9%;
    left: 9%;
}

.p_pravilnik {
    position: absolute;
    width: 21%;
    bottom: 0;
    z-index: 5;
    left: -1%;
}

.pr_wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
}

.p_window {
	width: 100vw;
}

.p_pravilnik_mobile {
    display: none;
}

.p_window-mobile {
    display: none;
}

.p_pravilnik_can {
    position: absolute;
    right: -4%;
    bottom: 13%;
    z-index: 5;
    width: 23%;
}

.p_pravilnik_can_mob {
	display: none;
}

.pravilnik_logo {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: -3%;
    width: 24%;
}

.pravilnik_logo_mobile {
	display: none;
}

.pravilnik .bottom_img {
    z-index: 10;
}

.pr_content {
    font-size: 1vw;
    position: absolute;
    left: 50%;
    z-index: 99;
    top: 45%;
    transform: translate(-50%, -50%);
    height: 28vw;
    overflow: scroll;
    width: 53%;
    color: #00264a;
}

.pr_content h2 {
    font-size: 1vw;
    color: #00264a;
    margin: 0;
}


/* Registracija */

.registracija {
    background: url(../images/registracija-pozadina.png);
    background-size: cover;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.registracija .lav-img {
    position: relative;
    z-index: 9;
}

.registracija .bottom_img .lav_social {
    z-index: 10;
}



.kaktus_1 {
    position: absolute;
    right: 9%;
    z-index: 5;
    bottom: 21%;
    width: 12%;
}

.regist-form-mobile {
    display: none;
}

.refist-form {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
    width: 37%;
    z-index: 10;
}

.regist-form {
	width: 100vw;
}

.refist-form form {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 5;
}

.refist-form form {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    padding-top: 10%;
}

.refist-form form input[type="text"] {
    height: 2.3vw;
    width: 100%;
    border: 1px solid #0f3376;
    display: inline-block;
    margin: 10px 0;
    padding: 0 10px;
    font-size: 0.9vw;
    color: #0f3376;
    font-family: 'Poppins-Regular';
}

.refist-form p {
    width: 100%;
    text-align: center;
    font-size: 1vw;
    color: #233d83;
    font-weight: bold;
}


.refist-form form input[type="text"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #0f3376;
}
.refist-form form input[type="text"]::-moz-placeholder { /* Firefox 19+ */
  color: #0f3376;
}
.refist-form form input[type="text"]:-ms-input-placeholder { /* IE 10+ */
  color: #0f3376;
}
.refist-form form input[type="text"]:-moz-placeholder { /* Firefox 18- */
  color: #0f3376;
}

.refist-form .check {
    width: 100%;
    display: flex;
    align-items: center;
}


.refist-form .check label {
    font-size: 0.8vw;
    font-family: 'Poppins-Light';
}

.refist-form button {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}


/* Rang lista */

.rang_lista {
    background: url(../images/rang_pozadina.png);
    background-size: cover;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.rang_lista .rang_wrap {
    position: relative;
    width: 50%;
    padding-top: 3%;
    padding-left: 7%;
}

.sprej {
    position: absolute;
    right: 26%;
    bottom: 13%;
    z-index: 5;
    width: 34%;
}

.print {
    position: absolute;
    top: 12%;
    right: 14%;
    width: 33vw;
}

.kaktus {
    position: absolute;
    right: 3%;
    bottom: 23%;
    width: 12%;
}


.winners-wrap {
    position: absolute;
    top: 32%;
    left: 35%;
    width: 28.4vw;
    height: 22vw;
    overflow: scroll;
}

.rang-list {
	width: 50vw;
}

.rang-list_mobile {
    display: none;
}

.winners_heading {
    display: flex;
    margin-bottom: 10px;
}

.winners_heading li {
    font-size: 0.8vw;
}



.winners_heading li:first-child,
.winners_list li:first-child  {
    width: 10%;
}

.winners_list li:first-child {
    padding-right: 3%;
}

.winners_heading li:nth-child(2),
.winners_list li:nth-child(2) {
    width: 40%;
}

.winners_heading li:nth-child(3),
.winners_list li:nth-child(3) {
    width: 25%;
    text-align: center;
}

.winners_heading li:nth-child(4),
.winners_list li:nth-child(4) {
    width: 25%;
    text-align: center;
}


.winners_list {
    display: flex;
}

.rang_lista .mobile_mainTable {
    display: none;
}


.winners_list li:first-child {
    text-align: center;
}

.winners_list li {
    text-transform: uppercase;
    font-size: 0.8vw;
    margin: 7px 0;
}

/* Uputstva */

.uputstvo_wrap {
    position: absolute;
    bottom: 2vw;
}


.uputstva {
    background: url(../images/uputstva-pozadina.png);
    background-size: cover;
    height: 100vh;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.uputstva .mobile-uputstvo {
    display: none;
}

.uputstva .desk-uputstvo {
    display: block;
}

.uputstvo_logo_mobile {
    display: none;
}

.uputstvo_logo {
    width: 16%;
    margin-top: 50px;
    margin-bottom: 10px;
        position: relative;
    z-index: 7;
}


.paper_wrap {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    
    margin: auto;
}

.paper_wrap li {
    width: 25%;
    position: relative;
    padding: 0 25px;
}

.paper_wrap li:first-child {

}

.paper_wrap li img {
	width: 100vw;
}

.paper_wrap li .mob-text {
    position: absolute;
    left: 28%;
    width: 13vw !important;
    top: 20%;
}


.paper_wrap li:first-child .mob-text {
    left: 7vw;
    top: 9vw;
}

.paper_wrap li:nth-child(2) .mob-text {
    left: 5.5vw;
}

.paper_wrap li:nth-child(3) .mob-text {
    left: 4.5vw;
    top: 7vw;
}

.paper_wrap li:nth-child(4) .mob-text {  
    left: 6.4vw;
    top: 10vw;
}



.mob-text {
    position: absolute;
}


.uputstva .mobile_mainTable {
    height: 100%;
    position: relative;
}


.paper_wrap li:first-child {
    bottom: 0;
}

.paper_wrap li:first-child p{
    color: #fff;
    width: 13vw;
}


.paper_wrap li:first-child p {
    top: 22%;
    left: 55%;
    transform: translate(-50%);
}

.paper_wrap li:first-child::after {
    content: '';
    background: url(../images/strelica-1.png);
    width: 100px;
    height: 100px;
    display: block;
    position: absolute;
    top: 23%;
    background-repeat: no-repeat;
    right: -13%;
    z-index: 5;
}

.paper_wrap li:nth-child(2)::after {
    content: '';
    background: url(../images/strelica-2.png);
    width: 100px;
    height: 100px;
    display: block;
    position: absolute;
    top: 27%;
    background-repeat: no-repeat;
    right: -13%;
    z-index: 5;
}

.paper_wrap li:nth-child(3)::after {
    content: '';
    background: url(../images/strelica-3.png);
    width: 150px;
    height: 100px;
    display: block;
    position: absolute;
    top: 27%;
    background-repeat: no-repeat;
    right: -25%;
    z-index: 5;
}

.paper_wrap li:nth-child(2){
    bottom: 0.5vw;
}

.paper_wrap li:nth-child(2) p {
    top: 20%;
    left: 51%;
    transform: translate(-50%);
    width: 12vw;
}

.paper_wrap li:nth-child(3){
    bottom: 1vw;
}

.paper_wrap li:nth-child(3) p {
    top: 17%;
    left: 46%;
    transform: translate(-50%);
    width: 12vw;
}

.paper_wrap li:nth-child(4){
    bottom: -1vw;
}

.paper_wrap li p {
    position: absolute;
    color: #fff;
    font-size: 0.8vw;
    line-height: 1.5 !important;
}

.paper_wrap li p span {
    font-family: 'Poppins-Medium';
    color: #e4c367;
}



.paper_wrap li:nth-child(4) p {
    top: 22%;
    left: 56%;
    transform: translate(-50%);
    color: #fff;
    width: 12vw;
    line-height: 1.2;
}

.uputstvo_cetka {
    position: absolute;
    bottom: 71px;
    z-index: 5;
    left: 50%;
    transform: translate(-50%);
    width: 12%;
}









